/* Navbar */
.nb-background-color{       /* navbar background color */
    background-color: #212628ff;
}
.nbMenuItem{                /* navbar link text properties */
    font-size:22px;
    margin-left: 10px;
    margin-right: 10px;
    font-family: Instrument Sans;
}

/* Authors */
.about{
    width:400px;
    margin: auto;
}
.about-team{
    font-family: Lora;
    color: #1d2021ff;
}
.authors{
    background-color:  #f7f7f7ff;
}


/* General */
.body{
    background-color: rgb(90, 92, 92);
}


/* Footer */
.footer{
    background-color: #212628ff;
    font-family: Instrument Sans;
    font-weight: 200;
}



.icon-white{            /* Arrow icon at bottom of page */
    color: #FFFFFF;
}


.pageSubheading {
    font-family: Instrument Sans;
    font-size: 28px;
    color: #f7f7f7ff;
}

.procedureHeading {
    font-family: Lora;
    color:#1d2021ff;
}

.overview{
    background-color: #f7f7f7ff;
    font-family: Instrument Sans;
    font-size: 20px;
    color: #1d2021ff;
}

.ovPadLeft{
    padding-left: 20px;
}

.ovPadRight{  
    padding-right: 20px;
}

.procedure{
    background-color: #f7f7f7ff;
    padding: 1px;
}

.procedureText {
    font-family: Instrument Sans;
    font-size: 28px;
    color: #1d2021ff;
}

.howTo {
    font-family: Instrument Sans;
    font-size: 25px;
    color: #1d2021ff;
}

th {
    background-color: #e5e6e7ff !important;
    font-family: Instrument Sans;
    font-size: 25px;
    color: #1d2021ff;
}

.showcase{
    background-color: rgb(43, 46, 49);
    font-family: Lora;
}

.sectionTitle {
    font-family: Lora;
    font-size: 34px;
}

/* ----------------- ID CSS ----------------- */

/* -----------------Underline Animation CSS -----------------*/
.hover-underline-animation {
    display: inline-block;
    position: relative;
    /*color: #0087ca;*/
  }
  
.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #eae6e6;
    /*transform-origin: bottom right;*/
    transition: transform 0.35s ease-out;
}
  
.hover-underline-animation:hover:after {
    transform: scaleX(1);
    /*transform-origin: bottom left;*/
}